@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

:root{
    --orange: #fb5607;
    --orange2: #dd591b;
    --dark-orange: #dc2f02;
    --black: #000000;
    --yellow: #fca311;
    --white: #fff;
    --white-hover: #dddddd;
}

.bg-black{
    background-color: var(--black);
}

.bg-orange{
    background: linear-gradient(45deg, #fb5607, #dc2f02);
}

h1, h2, h4{
    font-family: 'Chivo', sans-serif;
    color: var(--white);
    font-style: italic;
}

p{
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    color: var(--white);
}

main{
    background: linear-gradient(to top, rgba(94, 28, 12, 0.3), rgba(46, 46, 46, 0.3)), url(../image/background-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 10vh;
}

.btn-orange{
    background: var(--dark-orange) !important;
    border-color: var(--dark-orange) !important;
}

.btn-orange:hover{
    background: var(--orange2) !important;
    border-color: var(--orange2) !important;
}

.button{
    border-radius: 2rem !important;
    transition: .3s ease-in-out !important;
}

.button a{
    font-size: 1.3rem;
    color: var(--white);
    font-weight: 600;
    transition: .3s ease-in-out !important;
}

.button:hover{
    transform: scale(1.030);
}

.button a:hover{
    font-size: 1.3rem;
    color: var(--white-hover);
}

.img-banner{
    background: var(--white);
    padding: 1rem;
}

.carousel-control-prev,
.carousel-control-next{
    color: var(--dark-orange) !important;
    font-size: 1.5rem;
}